@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



*{
box-sizing: border-box;
list-style: none;
text-decoration: none;
margin: 0;
padding: 0;
color: var(--dark);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

:root{
    --primary-color: #7826e3;
    --secondary-color: #a469f2;
    --sub-primary-color: #d235a8;
    --dark: #000;
    --dark-light:#777;
    --box-shadow:.5rem 1.5rem rgba(0,0,0,0.2);
    --white:#fff;
    --border-with-primary:.1rem solid var(--primary-color);
}

.heading{   
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
    margin-top: 2rem;
}
.sub_head_div{
text-align: center;
padding: 2rem 0rem;
}

.sub_heading{   
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;   
    color: var(--sub-primary-color);
    border-bottom: .1rem solid var(--sub-primary-color);
    display: inline-block;    
}

.primaryColor, .primaryBgColor{
    color:var(--primary-color)
}

.secondaryColor, .secondaryBgColor{
    color:var(--primary-color)
}


.subPrimaryColor, .subPrimaryBgColor{
    color:var(--sub-primary-color);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-margin-top: 6rem;
}

body{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;  
    font-style: normal;
    overflow-x: hidden;
}


/* header css */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding:.5rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s linear;
    
}

header .logo a{
    /* font-family: "Nunito Sans", sans-serif; */
    font-size: 3rem;
    color: var(--white);
    font-weight: 700;
}

header .navigation{
    font-size: 1.7rem;
}

header .navigation a{    
    color: var(--white);
    font-weight: 700;
    margin-right:1rem;
    transition: color .3s linear;
}

header .navigation a:hover{ 
    color: var(--sub-primary-color); 
}

header .icon{
    display: none;
}

/* add sticky class */
header.sticky{
    background-color: var(--dark);
    padding: 1rem 7%;
   
}


header .icon {
    cursor: pointer;
}

header .icon i{
    font-size: 1.8rem;
    color: var(--white);
    font-weight: 700;
    margin-right:1rem;  
}


/* hero section  */
.mySwiper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-slide {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide:nth-child(1) {
    background-image: url('../img/hero_one.jpg');
    background-size: cover;
    background-position: 100% 100%;
}

.swiper-slide:nth-child(2) {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: 100% 100%;
}

.swiper-slide:nth-child(3) {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: 100% 100%;
}

.swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
}

.swiper-slide .content {
    max-width: 80rem;
    text-align: center;
    position: relative; /* Change to relative */
    z-index: 2; /* Increase z-index */
}
.swiper-slide .content h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
}

.swiper-slide .content p {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
}

.swiper-slide .content .btn {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #fff;
    font-weight: 400;
    border: .1rem solid #fff;
    padding: .8rem 2.6rem;
    transition: all .3s linear;
}

.swiper-slide .content .btn:hover {
    background-color: var(--sub-primary-color);
    letter-spacing: .1rem;
    border: .1rem solid var(--sub-primary-color);
}


/* Customize the swiper pagination */

/* Vertically center the pagination bullets */
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
    display: flex;
    flex-direction: column; /* Set flex-direction to column */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100%; /* Ensure swiper container has enough height */
}

/* Style the pagination bullets */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    transition: all .2s linear;
    margin: 5px; /* Add margin for spacing */
}

/* Style the active pagination bullet */
.swiper-pagination-bullet-active {
    background-color: var(--sub-primary-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: all .2s linear;
    padding: 5px;
    margin: 5px; /* Add margin for spacing */
}



/* .hero .content .hero-content h1{   
    font-size: 4rem;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 1rem; 
    letter-spacing: .1rem;  
}

.hero .content .hero-content p{   
    font-size: 1.8rem;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
}
.hero .content .hero-content .btn{
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--white);
    font-weight: 400;
    border:.1rem solid var(--white);
    padding:.8rem 2.6rem;
    transition: all .3s linear;
}

.hero .content .hero-content .btn:hover{
    background-color: var(--primary-color);
    letter-spacing: .1rem;
    border:.1rem solid var(--border-with-primary);
  
} */


/* about section */

/* .img{
    max-width: 100%;
    height: auto;
} */

.about_us{
    padding:0rem 7%;
}

.about_us .row{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
}



.about_us .row .about_img{
    flex:1 1 45rem;

}


.about_us .row .about_img img{
    width: 100%;
    height: 100%;    
}

.about_us .row .about_text {
    flex: 1 1 45rem;
    position: relative;
    z-index: 10;
   
}

.about_us .row .about_text::before {
    content: "";
    position: absolute;
    top: 10;
    right: 40;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--primary-color);  
    z-index: -1;
    filter: blur(150px);
    
}

.about_us .row .about_text::before {
    content: "";
    position: absolute;
    top: 10;
    right: 20;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--sub-primary-color);  
    z-index: -1;
    filter: blur(150px);
    
}




.about_us .row .about_text p{
    font-size: 1.6rem;
    color:var(--dark);
    letter-spacing: .1rem;
    line-height: 150%;
}


/* Services Section */
.services{
    background-color: #f7f7f7;
}
.services .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr) );
    gap:1rem;
    padding: 2rem 7%;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
}

.services .row .card{  

   border-radius: 1rem;
   margin-top: 1rem;
   text-align: center;
   padding: 2rem;
   box-shadow: .2rem .5rem 1rem #ddcbf5 ;
   overflow: hidden;
   transition: .8s;
   margin: 2rem 1rem;
   background-color: #fff;
}
.service_icon i{
    font-size: 3rem;
    color:var(--secondary-color)
}
.services .row .card .service_text h3{
    font-size: 2rem;
    color: #000;
    padding: 2rem 0rem;

}
.services .row .card .service_text p{
    font-size: 1.5rem;
    color: #000;
    line-height: 150%;

}
.services .row .card:hover{
    background-color: var(--sub-primary-color);
    cursor: pointer;
    
}
.services .row .card:hover p, h3{
    color: white;
}
.services .row .card:hover h3{
    color: white;
}
.services .row .card:hover .service_icon i{
    color: white;
}
/* end services section  */

/* team section start  */
.flex2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr) );
    gap:1rem;
    padding: 2rem 7%;
    
}

.teams .team-img img{
    -webkit-transition: all .5s ease-in-out;
    overflow: hidden;
    
    width: 100%;
}
.teams .team-img-up img{
    -webkit-transition: all .5s ease-in-out;
    overflow: hidden;
    
    width: 100%;
}
.team-member, .team-img{
    position: relative;
    overflow: hidden;
}
.team-member, .team-img-up{
    position: relative;
    overflow: hidden;
}
.team-title{
    font-size: 20px;
}
.overlay{
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    Transition: all .5s ease-in-out;
    color: fff;
}
.team-details{
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .5s ease-in-out;
}
.team-details p {
    color: var(--white);
    font-size: 1.2rem;
}
.team-details h2 span {
    color: var(--white);
}


.team-img:hover .team-details{
    opacity: 1;
    /* margin-top: -1rem; */
}
.team-img-up:hover .team-details{
    opacity: 1;
    /* margin-top: -1rem; */
}
.team-img:hover .overlay{
    opacity: 1;
   
}
.team-img-up:hover .overlay{
    opacity: 1;
    /* color: white; */
   
}
.socials a i {
    display: inline-block;
    width: 3.7rem;
    height: 3.7rem;
    background-color: transparent;
    color: var(--white);
    font-size: 1.5rem;
    padding: 1rem 0rem;
    transition: all .2s ease-in-out;

}

.socials a i:hover{
    color: var(--secondary-color);
    transform: rotate(360deg); 
}
.team-img:hover .team-details p,h2,span{
    color: #fff;
}
.team-img-up:hover .team-details p,h2,span{
    color: #fff;
}
/* team section end  */

/* our valuable clients start */
/* .clients{
    margin: 10rem 0rem;
} */
.clients{
   background-color: #c7b0e7;
   width: 100%;
   height: auto;

}
.clients .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 1rem;
    padding: 2rem 7%;
}
.clients .card{
    height: auto;
    width: 20rem;
    border-radius: 5%;
    background-color: #e4dede;
    /* box-shadow: 1rem 1rem 1rem #e4e4e4; */
    transition: all .2s ease-in-out;
    
}
.clients .card img{
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 1rem;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.clients .card p{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}


/* our valuable clients end */

/* tesimonial section */

/* swipr slide  */
/* .swiper2 {
    width: 800px;
  } */

  .swiper-slide {
    height: 300px;
    background: #882525;
    line-height: 300px;
    text-align: center;
  }

  .swiper-slide:nth-child(2) {
    background: #8acc7d;
  }

  .swiper-slide:nth-child(3) {
    background: #b7cc7d;
  }

  .swiper-slide:nth-child(4) {
    background: #9eb75c;
  }

  .swiper-slide:nth-child(5) {
    background: #7da8cc;
  }

  .swiper-slide:nth-child(6) {
    background: #96cc7d;
  }

  .swiper-slide:nth-child(7) {
    background: #cc7dae;
  }

/* media queries */


@media screen and (max-width: 991px){
    html{
        font-size: 58%;
    }
}


@media screen and (max-width: 768px){
    html{
        font-size: 55%;
    }

    header{
        padding:1rem 2%;
    }

    .hero{
        padding:1rem 2%;
    }
    
    

    header .navigation{
        position: absolute;
        top: 0;
        left: 0%;
        background-color: var(--dark);
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        clip-path: circle(0.0% at 100% 0);
        transition: clip-path .7s ease; 
    }

    header .navigation.active{
        clip-path: circle(141.4% at 100% 0);
    }

    header .navigation a{
       display: block;
       font-size: 2.4rem;
       padding:1rem 0rem;   
    }
    
    header .navigation a{ 
        color: var(--white);
        font-weight: 700;
        margin-right:1rem;
    }
    header .logo{
        z-index: 1200;
    }
    
    header .icon{
        display: initial;
        z-index: 1200;
    }

    header .icon i{
        font-size: 2rem;
    }

    .swiper-pagination {
        flex-direction: row; /* Change from vertical to horizontal */
    }
}
